/.vs/DataConnectors/v14/*.suo
/DataConnectors/bin/Debug
/DataConnectors.Sample/bin/Debug
/DataConnectors.Sample/obj/Debug
/DataConnectors/.vs/DataConnectors/v14/*.suo
/DataConnectors/obj/Debug
/DataConnectors.Test/bin/Debug
/DataConnectors.Test/obj/Debug
/DataConnectors.v12.suo
/DataConnectors.Nuget/bin/Debug
/DataConnectors.Nuget/obj/Debug
/DataConnectors.Nuget
/DataConnectors.Sample/Samples/cd-Daten.sqlite
/DataConnectors.sln.DotSettings.user
/Reference/Oracle/x86/OraOps11w.dll
/Reference/Oracle/x86/oraociei11.dll
/Reference/Oracle/x86/orannzsbb11.dll
/Reference/Oracle/x86/oci.dll
/DataConnectors.Sample/Samples/DataFormats-Converted.txt
/DataConnectors.Sample/Samples/StringData.csv
